{%extends "concesionario/landing.html" %}

{%block title%} Lista de Vehiculos {%endblock%}

<{% block content %}



    <div class="text-center my-5" >
        <h1>Lista de Vehículos</h1>
    </div> 
    
    <h1 class="text-center my-5">Autos</h2>
    <div class="container-fluid mb-5">
        <div class="row justify-content-center mb-2">
            {% for auto in autos %}
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-xl-3 mb-3">
                <div class="card h-100">
                    <img src="{{ auto.imagen.url }}" class="card-img-top img-fluid" alt="{{ auto.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ auto.nombre }}</h5>
                        <p class="card-text">{{ auto.precio }} CLP</p>
                            {% if user.is_authenticated %}
                                <a href="{% url 'solicitar_cotizacion' 'auto' auto.id %}" class="card-link"><h2 class="mt-2 text-center">Cotizar</h2></a>
                            {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <
    <h1 class="text-center my-5">Motos</h2>
        <div class="container-fluid mb-5">
            <div class="row justify-content-center">
                {% for moto in motos %}
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-xl-3">
                    <div class="card h-100">
                        <img src="{{ moto.imagen.url }}" class="card-img-top" alt="{{ moto.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ moto.nombre }}</h5>
                            <p class="card-text">{{ moto.precio }} CLP</p>
                                {% if user.is_authenticated %}
                                <a href="{% url 'solicitar_cotizacion' 'moto' moto.id %}" class="card-link"><h2 class="mt-2 text-center">Cotizar</h2></a>
                                {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


    <h1 class="text-center my-5">Camionetas</h2>
        <div class="container-fluid mb-5">
            <div class="row justify-content-center">
                {% for camioneta in camionetas %}
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-xl-3 mb-3">
                    <div class="card h-100">
                        <img src="{{ camioneta.imagen.url }}" class="card-img-top" alt="{{ camioneta.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ camioneta.nombre }}</h5>
                             <p class="card-text">{{ camioneta.precio }} CLP</p>
                                {% if user.is_authenticated %}
                                <a href="{% url 'solicitar_cotizacion' 'camioneta' camioneta.id %}" class="card-link"><h2 class="mt-2 text-center">Cotizar</h2></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
             </div>
        </div>
       
    

    


{%endblock%}

