{%extends "concesionario/landing.html" %}

{%block title%} Tu carrito {%endblock%}

<{% block content %}

    <div class="titulo-catalago container" >
        <h1>Tu carrito</h1>
    </div> 
    
    <table>
        {% for item in cart %}
        <tr>
            <td>{{ item.repuesto.nombre }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total_price }}</td>
            <td>
                <form action="{% url 'eliminar_del_carrito' item.repuesto.id %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" name="cantidad" value="1" min="1" max="{{ item.quantity }}" class="form-control mr-2">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>Total: {{ cart.get_total_price }}</p>

    <a href="{% url 'catalogo_repuestos' %}" class="button">Seguir Comprando</a>

{%endblock%}