{% extends "concesionario/landing.html" %}

{% block title %} Catálogo de Repuestos {% endblock %}

{% block content %}
<body>
    <h1 class="text-center my-5">Repuestos</h1>
    <div class="container-fluid mb-5">
        <div class="row justify-content-center">
            {% for repuesto in repuestos %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                    <div class="card h-100">
                        <img src="/media/{{ repuesto.imagen }}" class="card-img-top" alt="{{ repuesto.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ repuesto.nombre }}</h5>
                            <p class="card-text">{{ repuesto.precio }} CLP</p>
                            {% if user.is_authenticated %}
                                <form action="{% url 'agregar_al_carrito' repuesto.id %}" method="post" class="add-to-cart-form" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="cantidad" value="1">
                                    <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                                </form>
                                <a href="{% url 'ver_carrito' %}" class="btn btn-secondary">Ir al carrito</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartModalLabel">Producto Agregado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    El producto ha sido agregado al carrito exitosamente.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a href="{% url 'ver_carrito' %}" class="btn btn-primary">Ir al carrito</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}